* {
     font-family: "Inter", serif;
}

.whatBtn {
     border: 1px solid #27ae60;
     padding: 10px 18px;
     color: #27ae60;
     font-size: 16px;
}

.whatBtn i {
     color: #27ae60;
}

.whatBtn:hover {
     border: 1px solid #27ae60;
}

.call {
     border: 1px solid #27ae60;
     padding: 10px 18px;
     color: white;
     background: linear-gradient(to right, #0acefe, #2699fb);
     font-size: 16px;
}

.bannerContent h1 {
     font-size: 52px;
     font-weight: bold;
}

.input-group {
     z-index: -2;
}

.bannerContent h1 span {
     color: #2699fb;
     /* background: url("../images/line.jpg") no-repeat bottom; */
}

.bannerContent p {
     font-size: 22px;
}

.bannerContent ul {
     list-style: none;
}

.bannerContent ul li {
     font-size: 22px;
}

.bannerContent ul li i {
     color: #2699fb;
}

.bannerContentBtn button {
     width: 50%;
     padding: 10px 0px;
     border-radius: 5px;
}

.bannerContentBtn button:first-child {
     color: white;
     background: linear-gradient(to right, #0acefe, #2699fb);
}

.bannerForm {
     padding: 40px;
     border-radius: 10px;
}

.bannerForm h3 {
     font-size: 18px;
     font-weight: bold;
}

.bannerForm button {
     width: 100%;
     padding: 10px 0px;
     background: linear-gradient(to right, #0acefe, #2699fb);
     border: none;
     color: white;
}

.counterSection p {
     font-size: 16px;
}

.counterSection h2 {
     color: #2699fb;
     font-size: 30px;
     font-weight: bold;
}

.counterSection i {
     font-size: 28px;
     font-weight: bold;
}

.hightlight-section {
     background-color: #f7faff;
}

.hightlight-section h2 {
     color: #0a2134;
     font-weight: bold;
     font-size: 36px;
}

.hightlight-section p {
     font-size: 18px;
}

.hightlightItems h4 {
     font-size: 20px;
     font-weight: 600;
}

.hightlightItems p {
     font-size: 15px;
}
