/* Navbar */
nav {
     height: 65px;
     line-height: 1.5;
     width: 100vw;
     margin-bottom: -1.4rem;
     z-index: 1000;
     background-color: #1d2a35;
     position: fixed;
     top: 0;
     left: 0;
}

nav ul {
     display: flex;
     align-items: center;
     justify-content: space-between;
     color: #dddddd;
}

.navbar {
     height: 45px;
     width: 100%;
     text-align: center;
     display: flex;
     align-items: center;
     justify-content: center;
     background-color: #1d2a35 !important;
     background: #1d2a35 !important;
}

.navbar ul {
     display: flex;
     align-items: center;
     justify-content: flex-start;
     width: 100vw;
     font-size: 1rem;
     height: inherit;

}

.navbar ul li {
     margin: 3px;
}

.navbar ul li a {
     color: rgb(226, 226, 226);
}

.navbar ul .nav-top-left {
     display: flex;
     align-items: center;
     justify-content: center;
     gap: 5px;
     height: 40px;
}

.nav-top-left .nav-a {
     height: 30px;
     line-height: 1.5;
     padding: 15px 3px;
}

.nav-top-left .nav-a i {
     padding-left: 1px;
}

.nav-top-left .them-convertor {
     margin-left: 10px;
     padding: 8px;
}

.nav-top-left .them-convertor:hover {
     background-color: rgba(204, 204, 204, 0.204);
     border-radius: 50%;
}

.nav-top-left .nav-a:hover {
     cursor: pointer;
     background-color: #028749;
}

.navbar ul .nav-top-right {
     display: flex;
     align-items: center;
     justify-content: center;
     gap: 0.75rem;
     margin: 2px;
}

.nav-top-right {
     height: 40px;
}

.nav-top-right li a {
     padding: 5px 9px;
}

.nav-top-right i {
     color: #c454c4b8;
}

.navbar ul li img {
     background-color: var(--top-nav-bg-color);
     height: 2.9rem;
     z-index: 1;
     color: #04aa6d;
     padding-top: 1rem;
     padding-bottom: 0.75rem;
}

.navbar .nav-top-right li a:hover {
     background-color: rgba(204, 204, 204, 0.204);
     cursor: pointer;
     border-radius: 25px;
}

/* Home Nav Search Box */
.home-search-box {
     position: relative;
     display: flex;
     align-items: center;
     /* background: white; */
     border-radius: 25px;
     overflow: hidden;
     width: 200px;
     height: 33px;
     border: none;
     outline: none;
     transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
     /* transition: box-shadow 0.3s ease-in-out; */
}

.home-search-box input {
     flex: 1;
     padding: 10px;
     font-size: 16px;
     border: none;
     outline: none;
}

.home-search-box button {
     background: #ffffff;
     border: none;
     margin-left: -30px;
     cursor: pointer;
     color: black;
     font-size: 16px;
     transition: 0.3s;
     border-radius: 50%;
}

.home-search-box:focus-within {
     box-shadow: 0 0 15px rgba(0, 158, 96, 0.6);
     /* transform: rotate(360deg); */
     border: 2px solid #009e60;
}

.home-search-box button:hover {
     background: #e1e3e2;
     border-radius: 50%;
}

.navbar ul li i {
     padding-right: 10px;
}

.navbar ul li input::placeholder {
     color: gray;
     padding: 1.25rem;
}

.navbar ul li input::after {
     padding: 10px;
     color: red;
     font-size: 1rem;
}

.navbar li a {
     text-decoration: none;
     color: var(--color);
}

.navbar ul {
     display: flex;
     align-items: center;
     text-align: center;
}

.navbar ul li {
     list-style: none;
     cursor: pointer;
}

/* Sign and login Btn */

/* Container */
.toggle-container {
     display: flex;
     background: #dceee5;
     /* Light greenish background */
     border-radius: 30px;
     width: 150px;
     height: 35px;
     /* margin-top: 5px; */
     justify-content: space-between;
     align-items: center;
     position: relative;
     box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
     overflow: hidden;
     border: none;
     outline: none;
}

/* Anchor Buttons */
.toggle-link {
     flex: 1;
     text-align: center;
     padding: 12px 0;
     /* Adjusted padding */
     font-size: 16px;
     font-weight: 500;
     cursor: pointer;
     border-radius: 30px;
     color: black;
     text-decoration: none;
     position: relative;
     z-index: 2;
     transition: color 0.3s ease-in-out;
}

/* Moving Green Background */
.toggle-slider {
     position: absolute;
     top: 0;
     left: 0;
     /* Removed extra left space */
     width: 50%;
     height: 100%;
     background: #009e60;
     /* Green */
     border-radius: 30px;
     transition: all 0.3s ease-in-out;
     z-index: 1;
}

/* Active Link Color Change */
.toggle-link.active {
     color: white;
}


/* Sub-nav */

.sub-nav {
     position: fixed;
     height: 25px;
     width: 100%;
     display: flex;
     align-items: center;
     justify-content: center;
     /* margin-top: 3rem; */
     background-color: #282c41;
}

.sub-nav ul {
     width: 100%;
     height: 35px;
     color: #f1f1f1;
     display: flex;
     align-items: center;
     justify-content: space-between;
     white-space: nowrap;
     overflow: auto;
     scrollbar-width: none;
}

.sub-nav ul li a {
     text-decoration: none;
     color: #fff;
}

.sub-nav ul li {
     /* background-color: var(--bottom-nav-bg-color); */
     background-color: #0f161d;
     list-style: none;
     text-decoration: none;
     letter-spacing: 5;
     padding: 5px 15px;
     font-size: 0.9rem;

}

.sub-nav ul li:hover {
     cursor: pointer;
     background-color: #000000;
     text-decoration: 0.2rem underline #04aa6d;
}